body {
  background: #000;
  margin: 0;
  padding: 0;
  margin-left: 75px; }

#navbar {
  position: absolute;
  top: 0;
  left: 0;
  background: #34495e;
  width: calc(100vw - 30px);
  height: 30px;
  padding: 15px;
}

canvas {
  position: absolute;
  top: 60px;
  left: 0;
}
